.arrows {
  text-align: right;
}

.body_center {
  margin: 40px 190px  190px;
}

.categorie {
  margin-bottom: 30px;
}

.categorie_image {
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.horizontal-scroll {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  width: 100%;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; 
}

.logo_image {
  box-shadow: -8px 12px 10px rgba(0 0 0 / 10%);
}

.margin_arrows {
  border: none;
  border-radius: 100%;
  margin: 5px;
}

.scroll-content {
  display: inline-block;
  padding: 10px;
}
