<div class="option_links">
	 <ul>
        <li>
        	<div>
        		<%= link_to "Orders", root_path %>
        	</div>
        </li>
        <li>
        	<div>
        		<span>Swiggy One</span>
        	</div>
        </li>
        <li>
        	<div>
        		<span>Favourites</span>
        	</div>
        </li>
        <li>
        	<div>
        		<span>Payments</span>
        	</div>
        </li>
        <li>
        	<div>
        		<span>Addresses</span>
        	</div>
        </li>
        <li>
        	<div>
        		<span>Settings</span>
        	</div>
        </li>
    </ul>
	
</div>