.main_body{
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
.image{
  /* width: auto; */
  width: 110px;
  border-radius:5px ;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-container{
  margin-left: 5px;
  position: relative;
  bottom: 24px;
  border-radius: 3px;
  padding-left: 8px;
  background-color: white;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
  color: lawngreen;
  text-align: center;

}
.image-container{
  padding: 0px;

}
.image-back{
  background-color: red;
}
.names{
  color: #3e4152;
}
.description{
  margin-bottom: 0px;
  color: rgba(40,44,63,.45);
}
.RestaurantName {
  font-size: 1.43rem;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.RestaurantNameAddress{
  font-size: .93rem;
  color: #7e808c;
  height: calc(0.93rem + 2px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  white-space: nowrap;

}
.styles_itemNameText{
  margin-right: 4px;
  font-size: 1.22rem;
  font-weight: 500;
  color: #3e4152;
  word-break: break-word;
}
.styles_itemPrice{
  margin-right: 8px;
  font-weight: 400;
  color: #3e4152;
  font-size: 1rem;

}