.cart-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 6px 4px 10px rgba(0 0 0 0 / 10%);
  bottom: 24px;
  color: lawngreen;
  margin-left: 5px;
  padding-left: 8px;
  position: relative;
  text-align: center;
}

.description {
  color: rgba(40 44 63 / 45%);
  margin-bottom: 0px;
}

.image {
  border-radius: 5px;
  box-shadow: 6px 4px 10px rgba(0 0 0 /10%);
  width: 110px;
}

.image-back {
  background-color: red;
}

.image-container {
  padding: 0px;
}

.names {
  color: #3e4152;
}

.RestaurantName {
  color: #282c3f;
  font-size: 1.43rem;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.RestaurantNameAddress {
  color: #7e808c;
  font-size: 0.93rem;
  height: calc(0.93rem + 2px);
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.styles_itemNameText {
  font-size: 1.22rem;
  font-weight: 500;
  margin-right: 4px;
  color: #3e4152;
  word-break: break-word;
}

.styles_itemPrice {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 8px;
  color: #3e4152;
}
