.nav_bar{
  padding-right: 55px;
  padding-left: 60px;
	padding-top: 15px;
  padding-bottom: 15px;
	position: relative;
	text-align: center;
	box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
.nav_left{
  padding-left: 6px;
}

.location{
  padding-right: 100px;
	text-align: left;
  position: relative;
  padding-left: 10px;
}
.custom-dropdown {
  position: relative;
  /* display: inline-block; */
}
.custom-dropdown select {
  background-color: red;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 85%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: white;
}
.custom-dropdown :hover{
  color: orange;
}
.custom-dropdown::before {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 75px;
  transform: translateY(-50%);
  pointer-events: none;
  color: orange;
}
.location:hover {
  cursor: pointer;
}
.location:hover .area {
  color: orange;
}
.nav_icons{
  fill: black;
  color: black;
  margin-right: 5px;
}
.nav_menu{
  margin-top: 5px;
}
.search{
  text-align: right;
  margin-top: 11px;
  padding-right: 5px;
}
.offers{
  margin-top: 10px;
  padding-left: 13px;
}
.help{
  margin-top: 10px;
  padding-right: 21px;
}
.a_tag {
  color: #000;
  text-decoration: none;
  cursor: pointer;

}
.a_tag:hover  {
  color: orange;
}
.a_tag:hover path{
  fill: orange;
}
.sign_in{
  margin-top: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart{
  margin-top: 10px;
  padding-right: 22px;
}
.cart_count{
  border: solid 1px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 14px;
  border-top-left-radius: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

}




