.a_tag {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.a_tag:hover {
  color: orange;
}

.a_tag:hover path {
  fill: orange;
}

.cart {
  margin-top: 10px;
  padding-right: 22px;
}

.cart_count {
  border: solid 1px;
  border-radius: 7px 5px 2px 2px;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  width: 85%;
}

.custom-dropdown :hover {
  color: orange;
}

.custom-dropdown::before {
  color: orange;
  content: '\25BC';
  pointer-events: none;
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
}

.help {
  margin-top: 10px;
  padding-right: 21px;
}

.location {
  padding-left: 10px;
  padding-right: 100px;
  position: relative;
  text-align: left;
}

.location:hover {
  cursor: pointer;
}

.location:hover .area {
  color: orange;
}

.nav_bar {
  box-shadow: 0 15px 40px -20px rgba(40 44 63 / 15%);
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  padding: 15px 55px 15px 60px;
  position: relative;
  text-align: center;
}

.nav_icons {
  color: black;
  fill: black;
  margin-right: 5px;
}

.nav_left {
  margin-left: 6px;
}

.nav_menu {
  margin-top: 5px;
}

.offers {
  margin-top: 10px;
  padding-left: 13px;
}

.search {
  margin-top: 11px;
  padding-right: 5px;
  text-align: right;
}

.sign_in {
  margin-top: 10px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

