li {
  padding: 10px;
}

.option {
  color: black;
  text-align: center;
  text-decoration: none;
}

.option_links {
  background-color: #edf1f7;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
