.profile_body {
  background-color: #35728a;
  padding-left: 20px;
  padding-right: 20px;
}

.user_details {
  border-bottom-width: 20px;
  color: white;
  margin-bottom: 45px;
  padding: 50px 50px 0px 50px;
}

.user_details_left {
  text-align: right;
}

.user_options {
  background-color: white;
  margin: 0px;
  padding: 50px 0px 50px 50px;
  
}
