
.main_body{
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
.body_center{
  margin-left: 190px;
  margin-right: 190px;
  margin-top: 40px;
}
.horizontal-scroll {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
}
.horizontal-scroll::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari) */
}

.scroll-content {
  display: inline-block;
  padding: 10px;
}
.categorie_image{
  padding: 20px;
  margin: 15px;
  text-align: center;
}
.arrows{
  text-align: right;
}
.scroll_arrows{
  margin: 5px;
  border: none;
  border-radius: 100%;
}

p {
  margin: 0;
  padding: 0;
}