
.categorie_image {
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.horizontal-scroll {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
  width: 100%;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}
