.search-body {
  margin-top: 50px;
}

.search-field {
  border: 1px solid rgba(40, 44, 63, 0.3);
  border-radius: 3px;
}

.search-icon {
  color: #686b78;
  font-size: 15px;
}

.serarch-input-field {
  border: none;
  font-weight: bold;
  padding: 10px 5px;
  width: 97%;
}

input:focus {
  border: none;
  outline: none;
}
